/* The Modal (background) */
#myModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  top:0px;
  right:0px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.navbar-nav{
	flex-direction:row!important;
	z-index:-1!important;
}
.wrap-login100 {
height:610px!important;
margin-bottom:60px!important;
}
.section-title hr{
	margin:auto!important;
	margin-bottom:20px!important;
}

@media (max-width: 1000px) {
	.modal-content {
		width:82%!important;
		padding-left:10px;
		padding-right:10px;
		padding-bottom:10px;
		padding-top:10px;
	}
}
.next_box{
box-shadow: 10px 10px 5px 0px rgba(226, 228, 229,1);
margin-bottom: 40px!important;
height:60%px;
width:80%;
margin:Auto;
padding:40px;
padding-left:40px!important;
border-left: 1px solid #d5d5d5;
border-top:1px solid #d5d5d5;

}
.contact100-btn-hide {
    color: #333333;
    font-size: 14px;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 50%;
    top: -15px;
    right: -15px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.log_btn{
	float:right;
}


